<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="actorId" value=""/>
  <variable name="message" value=""/>
  <variable name="type" value=""/>
  <variable name="status" value=""/>
  <variable name="additionalInfo" value=""/>
  <variable name="callSite" value=""/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- System Log target -->
    <!-- commandText="exec dbo.InsertSystemLog @level, @caller, @type, @message, @stackTrace, @innerException, @additionalInfo"-->
    <!--commandText="insert into SystemLog (level, caller, type, message,stackTrace,innerException,additionalInfo) values (@level, @caller, @type, @message, @stackTrace, @innerException, @additionalInfo)"-->
    <target name="systemLog"
            xsi:type="Database"
            connectionStringName="NLog"            
            commandText="exec dbo.InsertSystemLog 
                                @level, 
                                @caller, 
                                @type, 
                                @message, 
                                @stackTrace, 
                                @innerException, 
                                @additionalInfo">
      <parameter name="@level" layout="${level}" />
      <parameter name="@caller" layout="${var:callSite}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@message" layout="${exception:format=message}" />
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="@innerException" layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
      <parameter name="@additionalInfo" layout="${var:additionalInfo}" />
    </target>

    <!-- Business Log Target -->
    <!--commandText="exec dbo.InsertBusinessLog @actorId, @message, @type, @status"-->
    <!--commandText="insert into BusinessLog (actorId, message, type, status) values (@actorId, @message, @type, @status)"-->
    <target name="businessLog"
            xsi:type="Database"
            connectionStringName="NLog"
            commandText="exec dbo.InsertBusinessLog @actorId, @message, @type, @status">
      <parameter name="@actorId" layout="${var:actorId}" dbType="DbType.Int32"/>
      <parameter name="@message" layout="${var:message}" />
      <parameter name="@type" layout="${var:type}" />
      <parameter name="@status" layout="${var:status}" />
    </target>
  </targets>
  <rules>
    <!-- System logger -->
    <logger levels="Error,Warn,Fatal" name="systemLogger" writeTo="systemLog"/>
    <!-- Business Logger -->
    <logger levels="Info" name="businessLogger" writeTo="businessLog"/>
  </rules>
</nlog>
